#head-signin{
	max-width: 45%;
	padding: 15px;
	margin: auto;
	text-align: center;
}

#form-signinn{
	max-width: 330px;
	padding: 15px;
	margin: auto;
	text-align: center;
}

#ctn_acc_admin{
	max-width: 50%;
	padding: 15px;
	margin: auto;
	margin-top: 2%;
	text-align: center;
	float: center;
}

#icon_group{
	width: 100%;
	height: 100px;
	font-size: 7rem;
	color: green;
}

#btn_connect {
	background-color: #4CAF50; /* vert */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 8px;
	width: 100%;
}

.header {
	background-color: #4CAF50; /* vert */
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

li {
	float: left;
	color: white;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 10px;
	float: right;
}